/********************CUSTOM VARIABLES********************/

/********* Custom fonts example (modify as needed) *********/

/*
`@font-face` examples
*/

/* @include font-face("alegreyabold", "../fonts", "alegreya-bold-webfont");

@mixin serif-bold {
  font-family: 'alegreyabold', 'Georgia', serif;
  font-weight: normal;
}

@include font-face("alegreyaregular", "../fonts", "alegreya-regular-webfont");

@mixin serif {
  font-family: 'alegreyaregular', 'Georgia', serif;
  font-weight: normal;
}

@include font-face("alegreya_sanslight", "../fonts", "alegreyasans-light-webfont");

@mixin sans-thin {
  font-family: 'alegreya_sanslight', sans-serif;
  font-weight: normal;
}

@include font-face("alegreya_sansbold", "../fonts", "alegreyasans-bold-webfont");

@mixin sans-bold {
  font-family: 'alegreya_sansbold', sans-serif;
  font-weight: normal;
}

@include font-face("alegreya_sansitalic", "../fonts", "AlegreyaSans-Italic-webfont");

@mixin sans-italic {
  font-family: 'alegreya_sansitalic', sans-serif;
  font-weight: normal;
}

@include font-face("alegreya_sansregular", "../fonts", "alegreyasans-regular-webfont");

@mixin sans {
  font-family: 'alegreya_sansregular', sans-serif;
  font-weight: normal;
} */

/*
Google Fonts Examples
*/

$families: "Alegreya", "Alegreya+Sans";

@each $family in $families {
  $clean: unquote(#{$family});
  @import url("http://fonts.googleapis.com/css?family=#{$clean}");
}

$serif: "Alegreya", "Georgia", serif;
$sans: "Alegreya Sans", sans-serif;

/********* Custom colors example (modify as needed) *********/

/*
Cool
*/

$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;

/*
Warm
*/

$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;

/*
Gray Scale 
*/

$white: white;
$gray: #eeeeee;
$silver: #aaaaaa;
$black: #444444;

/* Color classes (modify as needed) */

$colors: (aqua $aqua),
(blue $blue),
(navy $navy),
(teal $teal),
(green $green),
(olive $olive),
(lime $lime),
(yellow $yellow),
(orange $orange),
(red $red),
(fuchsia $fuchsia),
(purple $purple),
(maroon $maroon),
(white $white),
(gray $gray),
(silver $silver),
(black $black);

@each $name, $color in $colors {
  .#{$name} {
    color: $color;
  }
  .#{$name}-bg {
    background-color: $color;
  }
}

/*
 * CUSTOM MIXINS below here
 */