/********************CUSTOM VARIABLES********************/

/********* Custom fonts example (modify as needed) *********/

/*
 * Google Fonts Examples
 */

@import url("https://fonts.googleapis.com/css?family=Alegreya:400italic,400,700|Alegreya+Sans:300,400,700,300italic,400italic");

$serif: "Alegreya", "Georgia", serif;
$sans: "Alegreya Sans", sans-serif;

/*
 * `@font-face` examples
 */

/*
 * SERIF
 */

/*@include font-face("alegreyaregular", "../fonts", "alegreya-regular-webfont");

@mixin serif {
  font-family: 'alegreyaregular', 'Georgia', serif;
  font-weight: 400;
  font-style: normal;
}

@include font-face("alegreyaitalic", "../fonts", "alegreya-italic-webfont", 400, italic);

@mixin serif-italic {
  font-family: 'alegreyaitalic', 'Georgia', serif;
  font-weight: 400;
  font-style: italic;
}

@include font-face("alegreyabold", "../fonts", "alegreya-bold-webfont", 700, normal);

@mixin serif-bold {
  font-family: 'alegreyabold', 'Georgia', serif;
  font-weight: 700;
  font-style: normal;
}*/

/*
 * SANS-SERIF
 */

/*@include font-face("alegreya_sanslight", "../fonts", "alegreyasans-light-webfont", 300, normal);

@mixin sans-light {
  font-family: 'alegreya_sanslight', sans-serif;
  font-weight: 300;
  font-style: normal;
}

@include font-face("alegreya_sanslight_italic", "../fonts", "AlegreyaSans-LightItalic-webfont", 300, italic);

@mixin sans-light-italic {
  font-family: 'alegreya_sanslight_italic', sans-serif;
  font-weight: 300;
  font-style: italic;
}

@include font-face("alegreya_sansregular", "../fonts", "alegreyasans-regular-webfont");

@mixin sans {
  font-family: 'alegreya_sansregular', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@include font-face("alegreya_sansitalic", "../fonts", "AlegreyaSans-Italic-webfont", 400, italic);

@mixin sans-italic {
  font-family: 'alegreya_sansitalic', sans-serif;
  font-weight: 400;
  font-style: italic;
}

@include font-face("alegreya_sansbold", "../fonts", "alegreyasans-bold-webfont", 700, normal);

@mixin sans-bold {
  font-family: 'alegreya_sansbold', sans-serif;
  font-weight: 700;
  font-style: normal;
}*/

/********* Custom colors example (modify as needed) *********/

/*
Cool
*/

$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;

/*
Warm
*/

$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;

/*
Gray Scale
*/

$white: white;
$gray: #eeeeee;
$silver: #cccccc;
$black: #444444;

/* Color classes (modify as needed) */

$colors: "aqua" $aqua, "blue" $blue, "navy" $navy, "teal" $teal, "green" $green, "olive" $olive, "lime" $lime, "yellow" $yellow, "orange" $orange, "red" $red, "fuchsia" $fuchsia, "purple" $purple, "maroon" $maroon, "white" $white, "gray" $gray, "silver" $silver, "black" $black;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value;
  }

  .#{$label}-bg {
    background-color: $value;
  }
}

/*
 * CUSTOM MIXINS below here
 */