/********************CUSTOM GLOBAL********************/

body {
  color: $black;
  background-color: $white;
  @include sans;
  /*
   * if you change this font-size, you will
   * also need to change the $pixelBase
   * variable for the `REM to PX conversion 
   * without duplicate CSS` function in 
   * core/scss/_mixins.scss to match
   */
  font-size: 18px;
  line-height: 1.375;
  @include w_breakpoint('p_ipad') {
      line-height: 1.5;
  }
}

a, .a {
  color: $olive;
  text-decoration: none;
  &:link, &:active, &:visited {
    color: $olive;
    text-decoration: none;
  }
  &:hover, &:focus {
    color: $olive;
    text-decoration: underline;
  }
}

button, .button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  background-color: $olive;
  color: $white;
  padding: u(0.5rem 1rem);
  @include sans;
  @include easing;
  &:link, &:active, &:visited {
    background-color: $olive;
    color: $white;
  }
  &:hover, &:focus {
    background-color: lighten($olive, 8%);
    color: $white;
    text-decoration: none;
  }
  /* Example alternate button color */
  &.black {
    background-color: $black;
    color: $white;
    &:link, &:active, &:visited {
      background-color: $black;
      color: $white;
    }
    &:hover, &:focus {
      background-color: lighten($black, 8%);
      color: $white;
    }
  }
}

p {
    
}

blockquote, .blockquote {
    p, .p {
      @include sans-thin;
    }
    small, .small {
        &:before {
            
        }
    }
}

strong, b {
  @include sans-bold;
}

em, i {
    
}

hr {
  height: 1px;
  width: 100%;
  border: 0;
  background-color: $gray;
  margin: 3em auto; 
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    @include sans-thin;
    small {
        
    }
}

h1, .h1 {
  
}

h2, .h2 {
  
}

h3, .h3 {
  @include serif;
}

h4, .h4 {
  @include serif-bold;
}

h5, .h5 {
    
}

h6, .h6 {
    
}

input[type="checkbox"], input[type="radio"] {
  cursor: pointer;
}

.full {
    width: 100%;
    margin: 0 auto;
}

.wrap {
    max-width: 1024px;
    margin: 0 auto;
}

.flex-contain {
    margin: 0 auto;
    @include w_breakpoint('p_ipad') {
        width: 750px;
    }
    @include w_breakpoint('l_ipad') {
        width: 1000px;
    }
    @include w_breakpoint('biggie') {
        width: 1250px;
    }
}

.contain {
    max-width: 700px;
    margin: 0 auto;
}

.scratch-image, .scratch-video {
    height: 200px;
    @include background;
}

.white-popup {
  position: relative;
  background: $white;
  padding: 20px;
  width: auto;
  max-width: 700px;
  margin: 1em auto;
}

@include w_breakpoint('p_ipad') {
  .twoptfourcol {
      position: relative;
      float: left;
      margin-left: 2.762430939%;
      width: 17.73757%;
      &.first {
          margin-left: 0;
      }
      &.last {
          float: right;
      }
  }
}

.custom-col {
    @media (min-width: 649px) {
        position: relative;
        float: left;
        width: 50%;
        &.even {
            float: right;
        }
    }
    @media (min-width: 899px) {
        width: 33.333333333%;
        &.even {
            float: left;
        }
        &.three-last {
            float: right;
        }
    }
    @media (min-width: 1149px) {
        width: 25%;
        &.three-last {
            float: left;
        }
        &.four-last {
            float: right;
        }
    }
}

/* For iOS7 Web Apps
 * http://mir.aculo.us/2013/09/16/how-to-create-a-web-app-that-looks-like-a-ios7-native-app-part-1/
 */

/*

body {
    font: -apple-system-body;
}
h1, h2, h3 {
    font: -apple-system-headline;
}
h4, h5, h6 {
    font: -apple-system-subheadline;
}
.hairline {
    background: repeat-x bottom left
      url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='#ff0000' x='0' y='0' width='1' height='0.5'/></svg>");
}

 */

/*
 * CUSTOM HELPER CLASSES below here
 */