/********************HEADER********************/

#header {
  background-color: $olive;
  height: 74px;
  .logo {
    display: block;
    float: left;
    margin: 8px auto;
    img {
      width: 245px;
      height: 58px;
    }
  }
}

/* Adds dropdown support, gives a good example of nesting
 * with SCSS. The classes are specific to the Scratch
 * Theme for WordPress. If you are not using Scratch, you
 * can simply get rid of them.
 */

nav ul.main-nav {
  display: none;
  list-style: none;
  position: absolute;
  width: 100%;
  top: 74px;
  left: 0;
  margin: 0;
  padding: 0;
  @extend .clearfix;
  li {
    display: block;
    text-align: center;
    a {
      background-color: $olive;
      color: $white;
      display: block;
      padding: u(0.5rem 1rem);
      @include easing(background-color);
      &:link, &:active, &:visited {
        background-color: $olive;
        color: $white;
      }
      &:hover, &:focus {
        background-color: darken($olive, 5%);
        text-decoration: none;
      }
    }
  }
  ul.sub-menu {
    display: none;
  }
}

@media (min-width: 767px) {
  nav ul.main-nav {
    position: relative;
    width: auto;
    top: 0;
    float: right;
    display: block;
    li {
      float: left;
      a {
        padding: u(24px 1rem);
        &:link, &:active, &:visited {
          background-color: transparent;
        }
        &:hover, &:focus {}
      }
    }
    ul.sub-menu {
      background-color: $olive;
      padding: 0;
      position: absolute;
      top: 100%;
      li {
        float: none;
        position: relative;
        text-align: left;
        a {
          padding: u(0.5rem 1rem);
          &:link, &:active, &:visited {}
          &:hover, &:focus {}
        }
      }
      ul {
        position: absolute;
        left: 100%;
        top: 0;
      }
    }
  }
  nav ul.main-nav li:hover > ul.sub-menu {
    display: block;
  }
}

.nav-toggle {
  @media (min-width: 767px) {
    display: none;
  }
  color: $white;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 16px;
  margin-bottom: 0;
  font-size: u(2rem);
  @include easing;
  &.active {
    transform: rotate(-90deg);
  }
}