/********************HEADER********************/

#header {
  background-color: $olive;
  .logo {
    display: block;
    max-width: 210px;
    height: 56px;
    width: 100%;
    float: left;
    figure {
      height: 100%;
      @include background(center center, no-repeat, contain);
      background-image: url('../img/site-logo.svgz');
    }
  }
}

/* Adds dropdown support, gives a good example of nesting
 * with SCSS. The classes are specific to the Scratch
 * Theme for WordPress. If you are not using Scratch, you
 * can simply get rid of them.
 */

nav ul.main-nav {
    display: none;
	list-style: none;
	position: absolute;
    width: 100%;
    top: 72px;
    left: 0;
    margin: 0;
    padding: 0;
    @extend .clearfix;
    li {
        display: block;
        text-align: center;
        a {
          background-color: $olive;
          color: $white;
          display: block;
          padding: u(0.5rem 1rem);
          &:link, &:active, &:visited {
            background-color: $olive;
            color: $white;
          }
          &:hover, &:focus {
            
          }
        }
    }
    ul.sub-menu {
      display: none;
    }
}

@include w_breakpoint('p_ipad') {
  nav ul.main-nav {
      position: relative;
      width: auto;
      top: 10px;
      float: right;
      display: block;
      li {
          float: left;
          a {
            border-bottom: 0;
            margin-right: u(0.5rem);
            &:link, &:active, &:visited {
              background-color: transparent;
            }
            &:hover, &:focus {
              
            }
          }
      }
      ul.sub-menu {
          background-color: $olive;
          padding: 0;
          position: absolute;
          top: 100%;
          li {
              float: none;
              position: relative;
              a {
                margin-right: 0;
                &:link, &:active, &:visited {
                  
                }
                &:hover, &:focus {
                  
                }
              }
          }
          ul {
              position: absolute;
              left: 100%;
              top: 0;
          }
      }
  }
  
  nav ul.main-nav li:hover > ul.sub-menu {
      display: block;
  }
}

.nav-toggle {
  @include w_breakpoint('p_ipad') {
      display: none;
  }
  color: $white;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  margin-bottom: 0;
  font-size: u(2rem);
  @include easing;
  &.active {
      transform: rotate(-90deg);
  }
}