$px-only: false; /* for http://davidwalsh.name/rem-px-browser-function-sass */

@import '../core/scss/mixins';
@import '../core/scss/variables';
@import 'custom-variables';
@import 'custom-global';

body.login {
  div#login {
    h1 {
      a {
        background-image: url('../img/login-logo.svgz');
        @include background(center center, no-repeat, contain);
        padding-bottom: 49px;
        width: 100%;
        height: 100%;
      }
    }
    form#loginform {
      p {
        label {
          color: $black;
          @include sans-bold;
        }
        &.forgetmenot {
          input#rememberme {
          }
        }
        &.submit {
          input#wp-submit {
            @extend .button;
            border-radius: 0;
            box-shadow: none;
            height: auto;
            line-height: normal;
            font-size: u(1rem);
          }
        }
      }
      input {
      }
      input#user_login {
      }
      input#user_pass {
      }
    }
    p#nav {
      a {
        @extend .a;
      }
    }
    p#backtoblog {
      a {
        @extend .a;
      }
    }
  }
}