/********************GLIDE********************/

.slider {
  position: relative;
  width: 100%;
  height: 350px;
  @media (min-width: 567px) {
    height: 500px;
  }
  @media (min-width: 767px) {
    height: 620px;
  }
  overflow: hidden;
}

.slider__wrapper {
  height: 100%;
  list-style: none;
  overflow: hidden;
  *zoom: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  margin: 0;
  padding: 0;
  @include easing(0.4s, 0s);
}

.slider__item {
  height: 100%;
  float: left;
  clear: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: block;
  @include background;
}

.slider__arrows-item {
  position: absolute;
  display: none;
  @media (min-width: 767px) {
    display: block;
  }
  margin-bottom: -20px;
  padding: 20px;
  cursor: pointer;
  @include icons;
  font-size: 2.5em;
  color: rgba($white, 0.5);
  @include easing;
  &:link, &:active, &:visited {
    color: rgba($white, 0.5);
  }
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
  }
}

.slider__arrows-item--right {
  bottom: 50%;
  right: 30px;
  &:before {
    content: '\f125';
  }
}

.slider__arrows-item--left {
  bottom: 50%;
  left: 30px;
  &:before {
    content: '\f124';
  }
}

.slider__nav {
  position: absolute;
  bottom: 30px;
}

.slider__nav-item {
  width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  @include circle;
  background-color: rgba($white, 0.5);
}

.slider__nav-item--current {
  background: $white;
}

.slider__nav-item:hover {
  background: $white;
}