/***** Customizations of glide-core *****/
.glide {
  height: 350px;

  @media (min-width: 567px) {
    height: 500px;
  }

  @media (min-width: 767px) {
    height: 620px;
  }
  overflow: hidden;
}

.glide__wrapper {
  height: 100%;
}

.glide__track {
  padding: 0;
  margin: 0;
  overflow: visible; // perhaps auto?, just need to override overflow:hidden
}

.glide__slide {
  @include background;
  height: 100%;
}

.glide__slide a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.glide--carousel.glide--vertical .glide__track {
  overflow: visible;
}

/***** Customizations of glide-theme *****/
.glide__bullets {
  margin: 0;
  padding: 0;
  z-index: auto; // This should override z-index:2 from glide-theme
}