/********************GLIDE********************/

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 350px;
  @media (min-width: 567px) {
    height: 500px;
  }
  @media (min-width: 767px) {
    height: 620px;
  }
}

.slides {
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  @include easing(0.4s, 0s);
}

.slide {
  height: 100%;
  float: left;
  clear: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: block;
  @include background;
}

.slider-arrows {
  display: none;
}

@media (min-width: 767px) {
  .slider-arrows {
    display: block;
  }
}

.slider-arrow {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  padding: 20px;
  @include icons;
  font-size: 2.5em;
  color: rgba($white, 0.5);
  @include easing;
  &:link, &:active, &:visited {
    color: rgba($white, 0.5);
  }
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
  }
}

.slider-arrow--right {
  bottom: 50%;
  right: 30px;
  &:before {
    content: '\f152';
  }
}

.slider-arrow--left {
  bottom: 50%;
  left: 30px;
  &:before {
    content: '\f150';
  }
}

.slider-nav {
  position: absolute;
  bottom: 30px;
}

.slider-nav__item {
  width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  @include circle;
  background-color: rgba($white, 0.5);
}

.slider-nav__item:hover {
  background: $white;
}

.slider-nav__item--current {
  background: $white;
}