/********************VARIABLES********************/

/* Colors */
$black: #444 !default;
$gray: #eee !default;
$white: #fff !default;

/* Create your own custom colors/fonts/mixins in `_custom-variables.scss` */