/********************VARIABLES********************/

/* Colors */
$black: lighten(black, 12%) !default;
$white: darken(white, 12%) !default;

/* Fonts */
$sans: "Myriad Pro", Helvetica, sans-serif !default;
$serif: Georgia, serif !default;

/* Create your own custom colors/fonts in `_custom-variables.scss` */