/********************MIXINS*********************/

/* CSS Horizontal Centering */
@mixin halign {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

/* CSS Vertical Centering */
@mixin valign {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-top: 0;
	margin-bottom: 0;
}

/* CSS Horizontal & Vertical Centering */
@mixin hvalign {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 0;
	margin-bottom: 0;
}

/* Ion Icons */
@mixin icons {
	font-family: 'Ionicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-rendering: auto;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* WebKit-proof */
@mixin webkit-proof {
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateY(0deg);
	position: relative;
	overflow: hidden;
}
